llama-index
python-dotenv
html2text
google-generativeai
llama-index-llms-gemini
pypdf
scikit-learn
IPython
llama-index-embeddings-gemini
streamlit
langchain
openai
tiktoken
rapidocr-onnxruntime
langchain-community
sentence-transformers

#Multilingual AI based Voice Assistant
SpeechRecognition
pipwin
pyaudio
gTTS
google-generativeai
python-dotenv
streamlit



-e .